
<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Refresh</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bon_A4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/A4.css') }}">
  </head>
  <body style="--bleeding: 0.5cm;--margin: 1cm;">
    <div class="a page">
      <div class="div">
        <header class="header"><img class="logo-CEN" src="{{ url_for('static', filename='img/CEN_Champagne-Ardenne_RVB.jpg') }}" /></header>
        
        <div class="titre">
          
        
        <div class="corps">
          <p class="text-titre">
            Liste des fiches à éditer :
            <ul>
                {% for key in attributions.keys() %}
                    {% for i in attributions[key] %}
                        <li><a href='http://192.168.1.50:85/info/{{ i['cd_salarie'] }}'>{{ i['cd_salarie'] }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
          </p>
          </div>
          
        </div>
        
        <footer class="footer">
          <p class="text-footer">
            Conservatoire d’Espaces Naturels Champagne-Ardenne<br />9 rue Gustave Eiffel - 10430 -
            Rosières-près-Troyes<br /><br />Fichier auto-généré - {{ current_year }} - NE
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>